@font-face {
    font-family: 'pixel';
    src: url('../fonts/Pixeboy-z8XGD.ttf') format('truetype');
}
@font-face {
    font-family: 'sabo';
    src: url('../fonts/Sabo-Filled.otf') format('opentype');
}
body {
    font-family:chess;
    margin: 0;
    background-image: url(../images/back.gif);
}
.square {
    background:#fccc74;
    display:inline-block;
    border: 1px solid black;
    text-align:center;
    position: absolute;
    cursor: pointer;
}
a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
.logotop:hover{
  margin-top: -10px;
}
.strtbx, .board, .resultw, .resultld{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
  }
  .strtbx{
    padding: 20px 25px 25px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
  }
  .strtbx.hide{
    opacity: 0;
    pointer-events: none;
  }
  .strtbx header{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .strtbx .title{
    font-size: 22px;
    font-weight: 500;
    margin: 20px 0;
  }
  .strtbx .startbtn{
    display: flex;
    width: 100%;
  }
  .random{
    font-family: 'pixel';
  }
  .startbtn button{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
    border: none;
    background: #30c030;
    border-radius: 5px;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .startbtn button:hover,
  .btn button:hover{
    transform: scale(0.96);
  }
  .startbtn button.baba{
    margin-right: 5px;
  }
  .startbtn button.playerO{
    margin-left: 5px;
  }
  .strtbx .credit{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
  }
  .strtbx .credit a{
    color: #30c030;
    text-decoration: none;
  }
  .strtbx .credit a:hover{
    text-decoration: underline;
  }
.playerimg{
    margin: 0;
    position: fixed;
    z-index: -999;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
}
.roboimgmg{
    height: 257px;
}
.roboimg{
    margin: 0;
    position: fixed;
    z-index: -999;
    top: 50%;
    left: 88%;
    transform: translate(-50%, -50%);
}
.cont{
    font-family: 'sabo';
    color: #fcc201;
}
.logotop{
    margin-left: 10px;
    display: block;
}
.container{
    display: none;
}
.rn{
    font-family: 'pixel';
    color: white;
  }
  .resultw{
    padding: 25px 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    opacity: 0;
    text-align: center;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
  }
  .resultld{
      padding: 25px 20px;
      border-radius: 5px;
      max-width: 400px;
      width: 100%;
      opacity: 0;
      text-align: center;
      pointer-events: none;
      transform: translate(-50%, -50%) scale(0.9);
  }
  .resultw.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
  }
  .resultld.show{
      opacity: 1;
      pointer-events: auto;
      transform: translate(-50%, -50%) scale(1);
  }
  .win{
    color: white;
  }
  .resultw .win{
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
  }
  .resultld .ld{
      font-size: 30px;
      font-weight: 500;
      display: flex;
      justify-content: center;
  }
  .resultw .win p{
    font-weight: 600;
    margin: 0 5px;
  }
  .resultld .ld p{
      font-weight: 600;
      margin: 0 5px;
  }
  .resultld .rbtnld{
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    }
    .rbtnld button{
      font-size: 18px;
      font-weight: 500;
      padding: 8px 20px;
      border: none;
      background: #30c030;
      border-radius: 5px;
      color: #fff;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease;
  }
  .resultw .rbtnw{
      width: 100%;
      margin-top: 25px;
      display: flex;
      justify-content: center;
    }
    .rbtnw button{
      font-size: 18px;
      font-weight: 500;
      padding: 8px 20px;
      border: none;
      background: #30c030;
      border-radius: 5px;
      color: #fff;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease;
    }
  .win{
    font-family: 'pixel';
  }
  .ld{
    color: white;
    font-family: 'pixel';
  }
  