@font-face {
    font-family: 'pixel';
    src: url('Pixeboy-z8XGD.ttf') format('truetype');
}

@font-face {
    font-family: 'sabo';
    src: url('Sabo-Filled.otf') format('opentype');
}

body{
    background-image: url('images/back.jpg');
    background-size: cover;

}

.firstline{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    font-family: 'sabo';
    font-size: 36px;
}

.n1{
    color: #ffdf00;
}

.expl{
    display: flex;
    justify-content: center;
    font-family: 'pixel';
    font-size: 20px;
    margin-top: -1%;
}

.mass{
    display: flex;
    justify-content: center;
    width: 100%;
}

.start{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 10px;
}

.startbtn{
    text-decoration: none;
    font-family: 'pixel';
    font-size: 40px;
}

.start:hover {
    margin-top: -10px;
}

.islands{
    justify-content: space-around;
    margin-top: 10%;
    display: none;
}

.i{
    width: 203.5px;
    height: 198px;
}

.ii{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 203.5px;
    height: 220px;
}

.i:hover{
    margin-top: -20px;
}

.lname{
    font-family: 'pixel';
}

.cont{
    font-family: 'sabo';
}

.logotop{
    margin-left: 10px;
    display: none;
}
